.CartList {
    display: block;
    min-width: 100%;
    width: 100vh;
    text-align: center;
    margin: auto;
    text-align: center;
}

.EmptyCart {
    margin: 20% auto;
    color: #959595;
    font-weight: 400;
    font-size: 1.5rem;
}