.Counter {
    display: flex;
    margin: 5px;
}

.CounterVertical {
    width: 10%;
    flex-direction: column;
}

.CounterHorizontal {
    width: 30px;
    display: flex;
}

.CounterHorizontal input {
    width: 60px;
}

.Counter button {
    background: #fff;
    border: 0px;
    font-size: 1.7rem;
    padding: 5px 10px;
}

.Counter input {
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 1.7rem;
    padding: 5px 10px;
    text-align: center;
    font-weight: 700;
    margin: 0;
}