.Counter {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: 20px;
}

.Counter button {
    background: #fff;
    border: 0px;
    font-size: 1.7rem;
    padding: 5px 10px;
}

.Counter input {
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 1.7rem;
    padding: 5px 10px;
    text-align: center;
    font-weight: 700;
    margin: 0;
}