.TextAreaContainer {
    text-align: start;
}

.TextAreaField {
    width: 100%;
    font-size: 1rem;
    padding: 7px 12px;
    margin: 10px auto;
}

.ErrorField {
    color: red;
}

.TextAreaFieldError {
    width: 100%;
    font-size: 1rem;
    padding: 7px;
    border: 1px solid red;
}