.Header {
    width: 100%;
    display: block;
    background: #f3f3f3fa;
}

.Header a {
    color: #0089cf;
    text-decoration: none;
}

.HeaderTop {
    background: #fff;
    width: 100%;
}

.HeaderLinks {
    display: flex;
    font-size: 1rem;
    list-style: none;
    justify-content: flex-end;
    margin-right: 10%;
}

.HeaderLinkItem {
    margin: 5px 15px;
}

.HeaderMain {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    padding: 20px 0;
}

.Logo {
    font-size: 2rem;
}

.CartBox {
   font-size: 1.4rem;
}

.HeaderBottom {
    border-top: 1px solid #0089cf;
    width: 100%;
}

.HeaderLinksBottom {
    display: flex;
    font-size: 1rem;
    list-style: none;
    justify-content: flex-start;
    margin-left: 15%;
}