.ProductLink {
    margin: 10px 5px;
    transition-duration: 0.5s;
}

.ProductLink:hover {
    margin: 10px 5px;
    box-shadow: 1px 1px 1px 1px rgb(207, 205, 205);
    transition-duration: 0.5s;
}

.ProductLinkCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkAnchor {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.productImage {
    width: 200px;
    height: auto;
}

.productTitle:hover {
    color: #ff8f0f;
}

.productPrice {
    margin: 10px;
    font-size: 1rem;
    color: #ff8a00;
    text-decoration: none;
    outline: none;
}

.LeftHandSide {
    display: flex;
    align-items: center;
    width: 70%;
}

.ProductVisibleCart {
    display: flex;
    align-items: center;
}

